<mat-toolbar color="primary" class="fixedInfo">
  <mat-toolbar-row>
    <div> Delivery do Bem
      <span class="info">Ajude comprando/divulgando pequenos produtores</span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-accordion class="fixedInfo filter">
  <mat-expansion-panel [expanded]="opened" (opened)="opened = true">
    <mat-expansion-panel-header color="primary">
      <mat-panel-title>
        Filtros
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p *ngIf="loading">
      Carregando os dados...
    </p>
    <div *ngIf="!loading" fxLayout.lt-sm="column" fxLayoutGap.gt-xs="40px" fxLayout="row">
      <mat-form-field fxFlex.gt-xs="250px">
        <mat-label>Estado</mat-label>
        <mat-select [(value)]="estado">
          <mat-option *ngFor="let estado of estados()" [value]="estado">
            {{estado}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex.gt-xs="100">
        <mat-label>Cidade</mat-label>
        <mat-select [(value)]="cidade">
          <mat-option *ngFor="let cidade of cidades()" [value]="cidade">
            {{cidade | titlecase}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-chip-list multiple=true >
      <mat-chip *ngFor="let tipo of tipoServico()"  [selected]="isSelected(tipo)" (click)="setSelected(tipo)" [matBadge]="quantidadePorServico(tipo)" matBadgePosition="after" matBadgeColor="accent">{{tipo}}</mat-chip>
    </mat-chip-list>
    <div fxLayoutAlign="center center">
      <button color="warn" mat-button (click)="opened = false"> <mat-icon>closed</mat-icon> Fechar</button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<router-outlet></router-outlet>

<div class="content" fxLayoutAlign="center center" *ngIf="resultCards().length == 0" >
  <mat-card class="example-card" fxFlex.lt-sm="100" fxFlex="60">
    <mat-card-content>
      <h1>Nenhum card para exibir</h1>
      <p>
        Selecione no filtro acima para exibição dos contatos
      </p>
      <p>
        Caso não tenha o seu estado / cidade favor clicar no botão abaixo (+) para cadastrar um novo estabelecimento.
      </p>
      <p>
        Lembrese essa ferramenta é para ajudar os pequenos produtores :), que estão atendendo neste momento da <b> pandêmia </b> <i>COVID-19.</i>
      </p>
      <p>
        Caso necesário pode entrar em contato por e-mail <a href="mailto:arthurfritzz@gmail.com">arthurfritzz@gmail.com</a> e caso queira colaborar com o projeto está disponível no <a href="http://github.com/arthurfritz/delivery-do-bem/" target="_blank">github</a>
      </p>
      <p *ngIf="loading">
        Carregando os dados...
      </p>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="resultCards().length > 0" fxLayout="row wrap" fxLayoutAlign="space-between center" class="content">
    <mat-card  *ngFor="let itemCard of resultCards()" class="example-card" fxFlex.lt-sm="100" fxFlex.lt-md="44" fxFlex="23">
      <mat-card-header>
        <mat-card-title> {{itemCard["Nome Fantasia"]}}</mat-card-title>
        <mat-card-subtitle> {{itemCard["Tipo de serviço"]}} </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header color="primary">
              <mat-panel-title>
                Atendimento
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <span> {{itemCard["Dias de atendimento"].length > 0 ?  itemCard["Dias de atendimento"] : "Não informado os dias de atendimento" }} <br/></span>
              <span> {{itemCard["Dias de atendimento"].length > 0 ? itemCard["Horário de atendimento"] : "Não informado o horário de atendimento" }} <br/></span>
              <span *ngIf="itemCard['Observações de entrega']!=''"> <b>Observação entrega </b> {{itemCard["Observações de entrega"]}} </span>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header color="primary">
              <mat-panel-title>
                Contato
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="contato">
              <span *ngIf="itemCard['Responsável']!=''"><b>Responsável </b> {{itemCard["Responsável"]}} <br/></span>
              <span *ngIf="itemCard['Telefone para Whatsapp']!=''"><b>Whatts </b> <a href="tel:{{itemCard['Telefone para Whatsapp']}}"> {{itemCard["Telefone para Whatsapp"]}} </a> <br/></span>
              <span *ngIf="itemCard['Telefone']!=''"><b>Telefone </b> <a href="tel:{{itemCard['Telefone']}}"> {{itemCard["Telefone"]}} </a> <br/></span>
              <span *ngIf="itemCard['Instagram']!=''"><b>Instagram </b> {{itemCard["Instagram"]}} <br/></span>
              <span *ngIf="itemCard['Facebook']!=''"><b>Facebook </b> {{itemCard["Facebook"]}} <br/></span>
              <span *ngIf="itemCard['Site']!=''"><b>Site </b> {{itemCard["Site"]}} <br/></span>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-expansion-panel *ngIf="itemCard['Demais informações'] != '' ">
          <mat-expansion-panel-header color="primary">
            <mat-panel-title>
              Demais informações
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            {{itemCard["Demais informações"]}}
          </div>
        </mat-expansion-panel>
      </mat-card-content>
    </mat-card>
</div>

<a class="fab-fixed" mat-fab color="primary" target="_blank" href="https://forms.gle/fFdGGLFhqAvNXbaJA"><mat-icon>add</mat-icon></a>
